/.cache
/.classpath
/.project
/.settings
/.worksheet
logs
project/project
project/target
project/.sbtserver.lock
target
bin
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID
.idea
.idea_modules
.sbtopts
.sbtserver
conf/evolutions